.Title {
    width: 150px;
    text-shadow: 2px 1px 2px #000;
    background-color:maroon;
    border-radius:20px;
    color: white;
    transition: all .5s;
    position: fixed; 
    top: 0; left: 20px; 
    z-index:500;
    font-style: italic;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space:nowrap;
    font-size: 1em;
}