.Title {
    text-shadow:
    1px 1px 1px silver,
    -1px 1px 1px silver;
    color: white;
    transition: all .5s;
    position: absolute; 
    top: 0; left: 0; 
    z-index:500;
    font-style: italic;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space:nowrap;
    font-size: 1em;
}